@media (prefers-color-scheme: light) {

  :root {
    --background-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #353430;
    --accent-color: #FF8DCB;
    --page-title-color: #FFC2E6;
    --secondary-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --menu-hover-color: #35343066;
    --rec-display: none;
    }

}

.page.theme_light {
  --background-color: #FFF1F7;
    --text-color: #353430;
    --title-color: #353430;
    --accent-color: #FF8DCB;
    --page-title-color: #FFC2E6;
    --secondary-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --menu-hover-color: #35343066;
    --rec-display: none;
}
