/* stylelint-disable rule-empty-line-before */
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: grid;
  grid-template-rows: var(--footer-header-heigth) auto var(--footer-header-heigth);
  font-family: var(--main-font), sans-serif;
  font-size: var(--normal-font-size);
  background-color: var(--background-color);
  padding: var(--main-padding);
}

.header {
  --page-title-shadow-offset: 4px 4px;
  --decoration-top-margin: 0;
  --decoration-bottom-margin: var(--main-padding);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--decoration-top-margin);
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: var(--decoration-bottom-margin);
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
}

.header__rec {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 9px;
  line-height: 25px;
}

.header__rec::before {
  content: 'REC';
  color: var(--accent-color);
}

.header__rec::after {
  display: block;
  align-self: center;
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 70px;
  block-size: 26px;
  font-family: inherit;
  text-transform: lowercase;
  line-height: 1rem;
  color: var(--secondary-color);
  background-color: transparent;
  border: 0;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid var(--secondary-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--secondary-color);
}

.page-title {
  place-self: center;
  display: flex;
  flex-direction: column;
  line-height: 0.82em;
  text-transform: lowercase;
  font-weight: bold;
  row-gap: 0.2rem;
  font-size: var(--page-title-font-size);
  color: var(--page-title-color);
  text-shadow: var(--page-title-shadow-offset) var(--accent-color);
}

@media (width >= 1000px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }

}