.page {
  display: grid;
  grid-template-rows: minmax(668px, 100vh) auto minmax(668px, 100vh);
  row-gap: var(--page-gap);
  font-family: var(--main-font);
  font-size: var(--normal-font-size);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  --page-title-shadow-offset: 4px 4px;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  row-gap: 0.1rem;
  padding: var(--page-padding) 0;
  min-block-size: 668px;
  block-size: 100vh;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: var(--page-padding);
  right: var(--page-padding);
  border-top: 1px solid var(--secondary-color);
  border-right: 1px solid var(--secondary-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: var(--page-padding);
  left: var(--page-padding);
  border-bottom: 1px solid var(--secondary-color);
  border-left: 1px solid var(--secondary-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__rec {
  position: absolute;
  top: var(--page-padding);
  right: calc(var(--page-padding) + 9px);
  display: var(--rec-display);
  gap: 10px;
  line-height: 25px;
}

.header__rec::before {
  content: 'REC';
  color: var(--accent-color);
}

.header__rec::after {
  content: '';
  display: block;
  align-self: center;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  padding: 0 var(--page-padding);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  color: var(--secondary-color);
  font-family: inherit;
  line-height: 1rem;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 70px;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-hover-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--secondary-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--secondary-color);
  pointer-events: none;
}

.page-title {
  justify-self: center;
  align-self: center;
  color: var(--page-title-color);
  font-weight: bold;
  font-size: var(--page-title-font-size);
  line-height: 0.85em;
  text-transform: lowercase;
  text-shadow: var(--page-title-shadow-offset) var(--accent-color);
  max-inline-size: min-content;
}

.header__subtitle {
  display: block;
  justify-self: center;
  align-self: center;
  color: var(--title-color);
  font-weight: bold;
  line-height: var(--line-heigth);
  inline-size: var(--header-subtitle-width);
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  display: grid;
  row-gap: var(--main-gap);
  padding: 0 var(--page-padding);
  line-height: var(--line-heigth);
}

.section {
  display: grid;
  row-gap: 20px;
  column-gap: var(--section-column-gap);
}

.card-section:nth-child(even) {
  container-type: inline-size;
  container-name: even-section;
}

.section__title {
  display: block;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: inherit;
}

.section__content {
  display: grid;
  row-gap: 20px;
}

.card-list {
  display: grid;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.card__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: inherit;
}

.card__content {
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1.5px var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.card__title-normal-weight {
  font-weight: normal;
}

.gallery-section {
  row-gap: var(--page-padding);
}

.gallery {
  display: grid;
  grid-auto-flow: dense;
  gap: var(--page-padding);
}

.gallery__image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  --page-title-shadow-offset: 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
}

@media (width >= 768px) {

  :root {
    --page-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --header-subtitle-width: 364px;
    --page-padding: 20px;
    --page-gap: 60px;
    --main-gap: 80px;
  }

  .page-title {
    justify-self: start;
    max-inline-size: max-content;

  }

  .header__subtitle {
    justify-self: end;
    margin-inline-end: var(--page-padding);
  }

  .card-section:nth-child(odd) {
    grid-template-columns: 1fr 2fr;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  
  :root {
    --header-subtitle-width: 491px;
    --section-column-gap: 10px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

@container even-section (inline-size >= 728px) {
  
  .section__title {
    inline-size: calc((100% - 20px) / 3);
  }
}

@container even-section (inline-size >= 984px) {
  
  .card-list {
    grid-template-columns: repeat(auto-fill, calc((100% - 40px) / 3));
  }
}

