/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {

  /* Цвета */

  --background-color: #000028;
  --text-color: #F1B2CE;
  --title-color: #000028;
  --accent-color: #FF0070;
  --page-title-color: #DB00FF;
  --secondary-color: #FF0070;
  --menu-hover-color: #FF007066;

  /* Цвета состояний */

  /* Шрифт */

  --main-font: 'IBM Plex mono';
  --normal-font-size: 18px;
  --page-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  /* Отступы и размеры */

  --main-padding: clamp(10px, 2.6vw, 20px);
  --header-subtitle-width: 355px;
}
